@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin center-horizontal-vertical($top-val: 50%) {
  position: absolute;
  top: $top-val;
  left: 50%;
  transform: translate(-50%, -50%);
}
